*{
    margin:0;
    padding: 0;
}
/*Barra de navegacion*/
#nav{
  margin: 0;
  background-image: url(../imagenes/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
 
}

.header .navbar {
  background-color: transparent !important;
}
.nav-item{
  padding: 10px;
  
}
.nav-link{
  color:white;
  font-family: 'Kufam', cursive;
  font-weight: 400;
  font-size: 22px;

}
  #fondo h1 {
    font-family: 'MuseoModerno', cursive;
    font-size: 100px;
    font-weight: 500;
    color: #181413ee;
    padding-top: 200px;
    text-align: center;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
  #fondo h2 {
    font-family: 'MuseoModerno', cursive;
    font-size: 60px;
    font-weight: 500;
    color: #181413ee;
    text-align: center;
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both; }
    /*Sobre Mi*/
    .sobremi-contenedor{
      padding: 60px 0;
    margin: auto;
    overflow: hidden;
    }
    #sobremi{
      display: flex;
      background-color: wheat;
      height: auto;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
    }
    .grid
    {
        display: grid;
          grid-template-columns: repeat(12, 1fr);
          grid-auto-flow: dense;
          width: 90%;
          height: 100%;
          margin: auto;
          grid-gap: 10px;
          overflow: hidden;
          align-items: center;
      }
      .texto-sobremi {
        color: #ff8c00;
        background: #ffa800;
        background: -webkit-linear-gradient(45deg, #ffa800 0%, #ee8165 100%);
        background: linear-gradient(45deg, #ffa800 0%, #ee8165 100%);
        background-size: cover;
        display: flex;
        margin: 10px;
        font-weight: 600;
        font-size: 100px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }
    @media(min-width:576px){
    .texto-sobremi{
      color: #ff8c00;
      background: #ffa800;
      background: -webkit-linear-gradient(45deg, #ffa800 0%, #ee8165 100%);
      background: linear-gradient(45deg, #ffa800 0%, #ee8165 100%);
      background-size: cover;
      display: flex;
      margin: 10px;
      font-weight: 600;
      font-size: 50px;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;


    }
  }
   
    .informacion h4{
      font-family: 'Lato', sans-serif;
      font-size: 30px;
      font-weight: 500;
      color: orange;

    }
    .informacion p{
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: rgb(0, 0, 0);

    }
  

/*Trabajos*/
.titulo-trabajos h1{
  font-family: 'Kufam', cursive;
    font-size: 40px;
    font-weight: 500;
    color:  #252524ee;
    text-align: center;
    margin: 20px 0 25px 0;
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.titulo-trabajos p{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #252524ee;
  text-align: center;
  margin: 20px 0 25px 0;
}

.trabajos-contenedor{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 2px;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  
  
}

.trabajosImg{

width:400px;
height: 300px;
margin-bottom: 30px;
object-fit: cover;
}

/*Servicios*/
.title-servicios{
  text-align: center;
  font-family:'Kufam', cursive;
  font-weight: 400;
  font-size: 30px;
  color: #5a5a5aee;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.servicios{
margin-top: 100px;
  text-align: center;

}

.servicios .icono{

  display: inline-block;

  width: 190px;

  height: 150px;

  margin-bottom: 20px;

}




.servicios .title{

  color: #333;

  display: block;

  line-height: 30px;

  margin: 0 auto 20px;

  padding-bottom: 20px;

  position: relative;

  text-align: center;

  text-transform: uppercase;

  width: 190px;

}



.servicios .descripcion{

  color:grey;

  padding: 0 15px;
  font-family:'Kufam', cursive;

  font-size: 14px;

}



@media screen and (max-width:1000px){

  .servicios{

      margin-bottom: 30px;

  }

}
/*contacto*/

#contacto {
  background: hsl(200, 71.43%, 46.67%);
  margin: 0;
  padding: 0 15px 45px;
  color: #ffffff;
  
}

#contacto h2 {
  text-align: center;
  margin: 45px 0 0;
  padding: 45px 0 20px 0;
  font-family:'Kufam', cursive;
}
#contacto p {
  text-align: center;
  font-family:'Kufam', cursive;
}


#contacto form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

#texto-nombre{
  grid-column: 1;
  padding: 15px 15px 0;}
#texto-email{
  grid-column: 1;
  padding: 15px 15px 0;
}
#texto-mensaje{
  grid-column: 1;
  padding: 15px 15px 0;
}
#mensaje{
  grid-column: 1;
  padding: 15px 15px 0;
}

#contacto input,
textarea {
  height: 40px;
  width: 100%;
  margin: 5px auto;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

#contacto input[placeholder] {
  font-family: 'Montserrat', sans-serif;
  padding: 0 0 0 15px;
  font-size: 16px;
}

#contacto textarea {
  height: inherit;
}

#enviar {
  display: block;
  color: #ffffff;
  margin: 25px auto;
  border: none;
  height: 40px;
  border-radius: 5px;
  background: #D5D236;
  margin: 5px auto;
  width: 200px;
  font-size: inherit;
  font-weight: 600;
  text-decoration: none;
  padding: 5px;
  color: white;
}
/*Footer*/
footer {
  width: 100%;
  margin-top: 50px;
  height: 70px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(242,98,8,1) 0%, rgba(255,140,0,1) 70%);
}
.text-footer {
  float: right;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: white; 

}

    /*animaciones*/
    @-webkit-keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
          filter: blur(12px);
          opacity: 0; }
        100% {
          -webkit-filter: blur(0px);
          filter: blur(0px);
          opacity: 1; } }
      
      @keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
          filter: blur(12px);
          opacity: 0; }
        100% {
          -webkit-filter: blur(0px);
          filter: blur(0px);
          opacity: 1; } }
      
      @-webkit-keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0; }
        40% {
          opacity: 0.6; }
        100% {
          opacity: 1; } }
      
      @keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0; }
        40% {
          opacity: 0.6; }
        100% {
          opacity: 1; } }
      
      @-webkit-keyframes tracking-in-contract-bck {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(400px);
          transform: translateZ(400px);
          opacity: 0; }
        40% {
          opacity: 0.6; }
        100% {
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          opacity: 1; } }
      
      @keyframes tracking-in-contract-bck {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(400px);
          transform: translateZ(400px);
          opacity: 0; }
        40% {
          opacity: 0.6; }
        100% {
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          opacity: 1; } }
          @-webkit-keyframes tracking-in-expand {
            0% {
              letter-spacing: -0.5em;
              opacity: 0;
            }
            40% {
              opacity: 0.6;
            }
            100% {
              opacity: 1;
            }
          }
          @keyframes tracking-in-expand {
            0% {
              letter-spacing: -0.5em;
              opacity: 0;
            }
            40% {
              opacity: 0.6;
            }
            100% {
              opacity: 1;
            }
          }
          @-webkit-keyframes tracking-in-contract {
            0% {
              letter-spacing: 1em;
              opacity: 0;
            }
            40% {
              opacity: 0.6;
            }
            100% {
              letter-spacing: normal;
              opacity: 1;
            }
          }
          @keyframes tracking-in-contract {
            0% {
              letter-spacing: 1em;
              opacity: 0;
            }
            40% {
              opacity: 0.6;
            }
            100% {
              letter-spacing: normal;
              opacity: 1;
            }
          }