* {
  margin: 0;
  padding: 0;
}

#nav {
  margin: 0;
  background-image: url(../imagenes/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header .navbar {
  background-color: transparent !important;
}

.nav-item {
  padding: 10px;
}

.nav-link {
  color: white;
  font-family: 'Kufam', cursive;
  font-weight: 400;
  font-size: 22px;
}

#fondo h1 {
  font-family: 'MuseoModerno', cursive;
  font-size: 100px;
  font-weight: 500;
  color: #181413ee;
  padding-top: 200px;
  text-align: center;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@media (max-width: 600px) {
  #fondo h1 #fondo h1 {
    font-family: 'MuseoModerno', cursive;
    font-size: 50px;
    font-weight: 500;
    color: #181413ee;
    padding-top: 200px;
    text-align: center;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
}

#fondo h2 {
  font-family: 'MuseoModerno', cursive;
  font-size: 60px;
  font-weight: 500;
  color: #181413ee;
  text-align: center;
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@media (max-width: 600px) {
  #fondo h2 {
    font-family: 'MuseoModerno', cursive;
    font-size: 30px;
    font-weight: 500;
    color: #181413ee;
    text-align: center;
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
}

/*Sobre Mi*/
#sobremi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: wheat;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 800px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 100%;
  margin-left: 45px;
  grid-gap: 5px;
  
}

.informacion h4 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: orange;
}

@media (max-width: 376px) {
  .informacion h4 .informacion h4 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: orange;
  }
}

.informacion p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: black;
}

@media (max-width: 376px) {
  .informacion p .informacion p {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: black;
  }
}

/*Trabajos*/
#trabajos {
  background-color: #D3C4FF;
}

.titulo-trabajos h1 {
  font-family: 'Kufam', cursive;
  font-size: 40px;
  font-weight: 500;
  color: #00B3FF;
  text-align: center;
  margin: 20px 0 25px 0;
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.titulo-trabajos h1 .titulo-trabajos p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #252524ee;
  text-align: center;
  margin: 20px 0 25px 0;
}

.trabajos-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.trabajos-contenedor .trabajosImg {
  width: 400px;
  height: 300px;
  margin-bottom: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Servicios*/
.title-servicios {
  text-align: center;
  font-family: 'Kufam', cursive;
  font-weight: 400;
  font-size: 30px;
  color: #5a5a5aee;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.servicios {
  margin-top: 100px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .servicios .servicios {
    margin-bottom: 30px;
  }
}

.servicios .servicios .icono {
  display: inline-block;
  width: 190px;
  height: 150px;
  margin-bottom: 20px;
}

.servicios .servicios .title {
  color: #333;
  display: block;
  line-height: 30px;
  margin: 0 auto 20px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 190px;
}

.servicios .servicios .descripcion {
  color: #626262;
  padding: 0 45px 0 45px;
  font-family: 'Kufam', cursive;
  font-size: 14px;
  text-align: left;
}

/*contacto*/
#contacto {
  background: #2293cc;
  margin: 0;
  padding: 0 15px 45px;
  color: #ffffff;
}

#contacto #contacto h2 {
  text-align: center;
  margin: 45px 0 0;
  padding: 45px 0 20px 0;
  font-family: 'Kufam', cursive;
}

#contacto #contacto p {
  text-align: center;
  font-family: 'Kufam', cursive;
}

#contacto #contacto form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

#contacto input,
textarea {
  height: 40px;
  width: 100%;
  margin: 5px auto;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

#contacto input[placeholder] {
  font-family: 'Montserrat', sans-serif;
  padding: 0 0 0 15px;
  font-size: 16px;
}

#contacto textarea {
  height: inherit;
}

#texto-nombre {
  -ms-grid-column: 1;
  grid-column: 1;
  padding: 15px 15px 0;
}

#texto-email {
  -ms-grid-column: 1;
  grid-column: 1;
  padding: 15px 15px 0;
}

#texto-mensaje {
  -ms-grid-column: 1;
  grid-column: 1;
  padding: 15px 15px 0;
}

#mensaje {
  -ms-grid-column: 1;
  grid-column: 1;
  padding: 15px 15px 0;
}

#enviar {
  display: block;
  color: #ffffff;
  margin: 25px auto;
  border: none;
  height: 40px;
  border-radius: 5px;
  background: #D5D236;
  margin: 5px auto;
  width: 200px;
  font-size: inherit;
  font-weight: 600;
  text-decoration: none;
  padding: 5px;
  color: white;
}

/*Footer*/
footer {
  width: 100%;
  margin-top: 10px;
  height: 70px;
  background-color: #00B3FF;
}

.text-footer {
  float: right;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: white;
}

/*animaciones*/
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
/*# sourceMappingURL=est.css.map */