*{
    margin:0;
    padding: 0;
}
/*Barra de scroll*/
    
     ::-webkit-scrollbar {
      width: 15px;
    }
    
    
    ::-webkit-scrollbar-track {
      background: #ffe9e9;
    }
    
 
    ::-webkit-scrollbar-thumb {
      background: rgb(255, 177, 177);
    }
    
    
    ::-webkit-scrollbar-thumb:hover {
      background: #ffe9e9;
    }
    /*Barra de navergacion*/
#nav{
    margin: 0;
    background-image:url(../imagenes/porta.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  

}
@media (max-width: 576px) {
 
  #nav{
    margin: 0;
    background-image:url(../imagenes/576tab.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
}
@media (min-width: 100px) and (max-width: 320px) {
 
  #nav{
    margin: 0;
    background-image:url(../imagenes/320.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
}
@media (max-width: 320px)and (orientation: landscape) {
     
  #nav{
    margin: 0;
    background-image:url(../imagenes/320.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
}
@media (min-width: 300px) and (max-width: 670px) {
 
  #nav{
    margin: 0;
    background-image:url(../imagenes/576tab.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
}
@media (min-width: 576px) and (max-width: 1000px) and (orientation: landscape){
  #nav{
    margin: 0;
    background-image:url(../imagenes/tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
} 
  .header .navbar {
    background-color: transparent !important;
  }
  .nav-item{
    padding: 10px;
    
  }
  .nav-link{
    color:white;
    font-family: 'DM Serif Display', serif;
    font-weight: 600;
    font-size: 22px;
  
  }
  #fondo h1 {
    font-family: 'Rozha One', serif;
    font-size: 80px;
    font-weight: 500;
    color: #333333;
    padding-top: 200px;
    text-align: center;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    
  }
  @media (max-width: 500px) {
    #fondo h1 {
      font-family: 'Rozha One', serif;
      font-size: 50px;
      font-weight: 500;
      color: #fffefe;
      padding-top: 200px;
      text-align: center;
      -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
 
  }
  #fondo h2 {
    font-family: 'Rozha One', serif;
    font-size: 50px;
    font-weight: 500;
    color:  #333333;
    text-align: center;
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  
   
  }
  @media (max-width: 500px) {
    #fondo h2 {
      font-family: 'Rozha One', serif;
      font-size: 20px;
      font-weight: 500;
      color:  #ffffff;
      text-align: center;
      -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
 
  }
      
  }
       /*Sobre Mi*/

.informacion{
  margin-top: 50px;
    padding: 55px;
    background-color: #f2cfc6;
  
}
.img-fluid{
  margin-top:85px ;
  
}
        .informacion h4{
          font-family: 'DM Serif Display', serif;
          font-size: 30px;
            font-weight: 500;
            color:#e25c61;
        }
          @media (max-width: 400px) {
            .informacion h4{
              font-family: 'DM Serif Display', serif;
              font-size: 25px;
              font-weight: 500;
              color: #e25c61;
        
            }
          }
          .informacion p{
            font-family: 'Quicksand', sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: rgb(0, 0, 0);
      
          }
          @media (max-width: 400px) {
            .informacion p{
              font-family: 'DM Serif Display', serif;
      font-family: 'Merriweather', serif;
              font-size: 15px;
              font-weight: 400;
              color: rgb(0, 0, 0);
        
            }
          }
          .Sobre{
              text-align: center;
              background-color: #efe3d0;
              height: 350px;
              margin-bottom: 45px;
             
              .title{
                color: #e25c61;
                text-align:center;
                font-family: 'DM Serif Display', serif;
                font-weight: 500%;
               margin-top: 15px;
              }
              .descripcion{
                padding: 3px;
                color: #494949;
                text-align:center;
                font-family: 'DM Serif Display', serif;
                font-family: 'Merriweather', serif;
                font-weight: 700%;
              }
              @media screen and (max-width:600px){
            
                  .Sobre{
                    text-align: center;
                    background-color: #efe3d0;
                    height: 500px;
                    margin-bottom: 45px;
                  }
                
                }  
          
            }
            
            .productos-digitales{
              font-family: 'Quicksand', sans-serif;
              font-size: 18px;
              font-weight: 500;
              text-align: center;
              margin-top: 45px;
              padding: 50px;
              .title{
                font-family: 'DM Serif Display', serif;
                font-size: 30px;
                color:#6d6d6d;
              }
              img{
                .wobble-hor-bottom {
                  -webkit-animation: wobble-hor-bottom 0.8s both;
                          animation: wobble-hor-bottom 0.8s both;
                }
              }

            }
        /*Trabajos*/
#trabajos{
    background-image:url(../imagenes/fondosevicios.png);
    .row {
      margin: 15px;
    }
    .text-trab {
      font-family: "Rozha One", serif;
      font-weight: 400;
      font-size: 30px;
      text-align: center;
      padding-top: 25px;
      color: rgb(226, 92, 97);
      animation: 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal both running tracking-in-expand;
  }
  .text-p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
    color: rgb(78, 76, 76);
}
    }
    
    
    #mas{display: flex;
      flex-direction: column;
      justify-content:space-around;
          align-content: center;
          
      }
    
  /*Servicios*/
  #servicioimg{
    background-image: url(../imagenes/fondosevicios.png);
  }
.title-servicios{
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-weight: 600;
    font-size: 30px;
    color:#e79194;
    
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
              animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  
  .servicios{
  margin-top: 100px;
    text-align: center;
    
    @media screen and (max-width:1000px){
  
        .servicios{
      
            margin-bottom: 30px;
      
        }
      
      }
    .servicios .icono{
        display: inline-block;
        width: 190px;
        height: 150px;
        margin-bottom: 20px;
        
        }
        .servicios .title{
            color: #333;
            display: block;
            line-height: 30px;
            margin: 0 auto 20px;
            padding-bottom: 20px;
            position: relative;
            text-align: center;
           text-transform: uppercase;
           width: 190px;
          }
          .servicios .descripcion{
            color:rgb(98, 98, 98);
            padding:0 45px 0 45px;
            font-family: 'Quicksand', sans-serif;
            font-size: 14px;
            text-align: left;
            
            }

  }
  .contenedor-1{
    background-color: #F4CC4B;
    height: 200px;
  }

  
  /*contacto*/

#contacto {
    background:#ed9a91;
    margin: 0;
    padding: 0 15px 45px;
    color: #ffffff;
    height: 800px;
   .titulo-contacto{
    font-family: 'DM Serif Display', serif;
    text-align: center;
    padding:10px;
   }
   .inf-contacto{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
   }
    #contacto h2 {
        text-align: center;
        margin: 45px 0 0;
        padding: 45px 0 20px 0;
        font-family: 'Bitter', serif;
      }
      #contacto p {
        text-align: center;
        font-family: 'Bitter', serif;
      }
      
      
      #contacto form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }
     
    
  }
  
  #contacto input,
  textarea {
    height: 40px;
    width: 100%;
    margin: 5px auto;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: 'Bitter', serif;
  }

  #contacto input[placeholder] {
    font-family: 'Bitter', serif;
    padding: 0 0 0 15px;
    font-size: 16px;
  }
  
  #contacto textarea {
    height: inherit;
  }
  #texto-nombre{
    font-family: 'Bitter', serif;
    grid-column: 1;
    padding: 15px 15px 0;}
  #texto-email{
    font-family: 'Bitter', serif;
    grid-column: 1;
    padding: 15px 15px 0;
  }
  #texto-mensaje{
     font-family: 'Bitter', serif;
    grid-column: 1;
    padding: 15px 15px 0;
  }
  #mensaje{
    grid-column: 1;
    padding: 15px 15px 0;
  }
  

  
  #enviar {
    display: block;
    color: #ffffff;
    margin: 25px auto;
    border: none;
    height: 40px;
    border-radius: 5px;
    background: #ecbd57;
    margin: 5px auto;
    width: 200px;
    font-size: inherit;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
    color: white;
  }
  
  
 /*Footer*/
 .footer {
  padding: 40px 0 30px;
  border-top: 20px solid #F4CC4A;
  background: #F4CC4A;
}
.text-foot{
  font-family: 'DM Serif Display', serif;
  font-weight: 300;
  font-size: 21px;
  color:#ffffff;
}


.footer a{
  font-size: 64px;
  color: #ffffff;
  
}
footer a :hover{
  color: #b0dee9;
}




   /*animaciones*/
   @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0; }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1; } }
  
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0; }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1; } }
  
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0; }
    40% {
      opacity: 0.6; }
    100% {
      opacity: 1; } }
  
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0; }
    40% {
      opacity: 0.6; }
    100% {
      opacity: 1; } }
  
  @-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
      transform: translateZ(400px);
      opacity: 0; }
    40% {
      opacity: 0.6; }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1; } }
  
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
      transform: translateZ(400px);
      opacity: 0; }
    40% {
      opacity: 0.6; }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1; } }
      @-webkit-keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
      @-webkit-keyframes tracking-in-contract {
        0% {
          letter-spacing: 1em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          letter-spacing: normal;
          opacity: 1;
        }
      }
      @keyframes tracking-in-contract {
        0% {
          letter-spacing: 1em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          letter-spacing: normal;
          opacity: 1;
        }
      }
        